extends ../../layouts/public


block content
	div(
		ng-controller="PublicLoginController"
		flex
		layout="column"
		layout-wrap
		layout-padding
		)

		div.container
			div.logo
				img(src="/images/logo.png")
			
			h1 Christmas Baubles

			div.cta
				md-button.md-raised.md-primary(
					fb-login
					href="/frontend/auth/facebook"
				) Login with Facebook


			div
				h3 This app demonstrates the Alert Bubbles Project.
				p.
					Let's increase our interconnectivity, yo.
				